:root {
  --black-chocolate:#1f1300;
  --black-chocolate-light:rgba(31, 19, 0, 50%);
  --yellow:#E2C044;
  --blue:#273469;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  color:var(--black-chocolate);
}

/* Container section */
.container {
  min-height:100dvh;
  min-height:100vh;
  background-color: #E2E8F0;
  display:grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows:300px 1fr;
  grid-template-areas: "sidebar header"
  "sidebar main" ;
}
/* Side-bar section */
.sidebar {
  background-color: var(--blue);
  color:whitesmoke;
  font-weight:bold;
  grid-area:sidebar;
  font-size:1.25rem;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin-left:1.5rem;
}

.sidebar-icons {
  margin-right: 10px;
  margin-top:15px;
  font-size:20px;
}
.separator-sidebar {
  margin-top:3rem;
}
.dashboard-icon {
  margin-right: 10px;
  font-size:30px;
}
.dashboard-text {
  margin:1.15rem 0;
}

.sidebar > p {
  margin-top:1.15rem;
  text-align: left;
}

.sidebar-section-one, .sidebar-section-two {
  margin-top:1.2rem;
}

/* Header section */

.header {
  grid-area:header;
  box-shadow: 0 5px 20px var(--black-chocolate-light);
  height:200px;
}
input {
  min-width:70%;
  width:700px;
  border-radius: 40px;
  outline: none;
  border: 2px solid transparent;
  background-color:var(--black-chocolate);
  opacity: 15%;
}
.header > .sidebar-item {
  margin-top:1.5rem;
}
.header-flex {
  display:flex;
  justify-content: space-between;
}
.profile-pic {
  width:70px;
  height:70px;
  border-radius: 50%;
  margin-right: 40px;
}
.profile-text {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 40px;
}

.flex-item {
  display:flex;
  margin-top:1.15rem;
  margin-right: 1.5rem;
  align-items: center;
}

.profile-icon {
  margin-right:50px;
}

.search-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:300px;
}

.header-profile {
  margin-left:300px;
  text-align: left;
  font-weight: bold;
}
.header-profile-title {
  font-size:1.5rem;
  padding-left:130px;
}

.header-pic {
  width:90px;
  height:90px;
  border-radius: 50%;
  float:left;
  margin-right: 20px;
  
}
.header-buttons {
  display:flex;
  gap:20px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 50px;
}

button {
  padding:.5rem;
  width:90px;
  background-color: var(--blue);
  opacity: 70%;
  color:whitesmoke;
  font-weight: bold;
  font-size: 1.25rem;
  cursor:pointer;
  border-radius: 15px;
  box-shadow: 0 4px 6px var(--black-chocolate);
  outline:none;
  transition: box-shadow 0.3s ease-in-out;
}
button :hover {
  box-shadow: 0 10px 20px var(--black-chocolate);
  background-color: var(--blue);

}


.main-content {
  grid-area:main;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "project announcements"
  "project trending";
}
.project-section {
  grid-area:project;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
}
.announcements-section {
  grid-area:announcements;
}
.trending-section {
  grid-area:trending;
}