:root {
  --black-chocolate:#1F1300;
  --yellow:#E2C044;
  --blue:#273469;
}
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  min-height:100dvh;
  min-height:100vh;
  background-color: #E2E8F0;
  display:grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows:200px 1fr;
  grid-template-areas: "sidebar header"
  "sidebar main" ;
}
.sidebar {
  background-color: var(--blue);
  color:whitesmoke;
  font-weight:bold;
  text-align: center;
  grid-area:sidebar;
}
i {
  text-align: left;
}

.sidebar > p {
  font-size:1.12rem;
  text-align: center;
}
.sidebar > p+p {
  margin-top:1.15rem;
}
.sidebar-section-one {
  margin-top:1.2rem;
}
.main-content {
  grid-area:main;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "project announcements"
  "project trending";
}
.project-section {
  grid-area:project;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
}
.announcements-section {
  grid-area:announcements;
}
.trending-section {
  grid-area:trending;
}
.header {
  grid-area:header;
}