* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  display:grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows:200px 1fr;
  grid-template-areas: "sidebar header"
  "sidebar main" ;
}
.sidebar {
  grid-area:sidebar;
}
.main-content {
  grid-area:main;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: repeat(2,1fr);
  grid-template-areas: "project announcements"
  "project trending";
}
.project-section {
  grid-area:project;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
}
.announcements-section {
  grid-area:announcements;
}
.trending-section {
  grid-area:trending;
}
.header {
  grid-area:header;
}